@mixin screen($breakpoint) {
  //the name of the mixin is devices

  @if $breakpoint == LG {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == MD {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == SM {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }
  @if $breakpoint == XS {
    @media only screen and (max-width: 375px) {
      @content;
    }
  }
}

$main_black: #171718;
$main_blue: #5c62ec;
$round_black: #26292d;
